    <div class="row">
        <div class="nav">
            <div class="header">
                <div class="container">
                    <div class="header-wrapper">
                        <a href="#" class="main-logo"><img src="images/logo.png" alt="logo"></a>
                        <ul  class="main-menu">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Add Clients</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li class="active"><a href="#">Account</a></li>
                        </ul>
                        <a href="#" class="menu-button"></a>
                        <a href="#" class="logout-button">LOGOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
