<div id="social-data-status-msg" ng-hide="socialDataPull.msg == ''" class="alert alert-{{socialDataPull.status}}" role="alert"> {{socialDataPull.msg}}</div>
<div id="social-icons-container" class="social-icons">
    <!-- linkedIn -->
    <div class="linkedin-icon" id="linkedin-icon" ng-init="initLinkedIn()">
        <script type="in/Login"></script>
    </div>
    <!-- Facebook -->
    <div id="fb-root"></div>
    <fb:login-button scope="public_profile,email,user_friends,user_location,user_work_history,user_relationship_details,read_friendlists"
                     ng-init="initFacebookAPI()" ng-onlogin="checkLoginState()"></fb:login-button>

</div>
