<div class="row">
  <div class="col-xs-12 col-sm-4 omega">
    <p>
      Male Clients:</br>{{usercount.male_clients}}
    </p>
    <img src="assets/images//icon-male.png" alt="">
  </div>
  <div class="col-xs-12 col-sm-4 alfa omega">
    <p>
      Female Clients:</br>{{usercount.female_clients}}
    </p>
    <img src="assets/images//icon-female.png" alt="">
  </div>
  <div class="col-xs-12 col-sm-4 alfa">
    <p>
      Candidates:</br>{{usercount.candidates}}
    </p>
    <img src="assets/images//icon-candidate.png" alt="">
  </div>
</div>