<ul class="add-clients-items-list">
  <li id="tracker_0" class="active"><a href="#first_anchor">Basic</a></li>
  <li id="tracker_1"><a href="#second_anchor">Religion</a></li>
  <li id="tracker_2"><a href="#third_anchor">Education & Professional </a></li>
  <li id="tracker_3"><a href="#fourth_anchor">Appearance </a></li>
  <li id="tracker_4"><a href="#fifth_anchor">Interests</a></li>
  <li id="tracker_5"><a href="#six_anchor">Family </a></li>
  <li id="tracker_6"><a href="#seventh_anchor">Astro Details</a></li>
  <li id="tracker_7"><a href="#eight_anchor">Partner Preferences</a></li>
  <li id="tracker_8"><a href="#nineth_anchor">Contact</a></li>
</ul>