<div class="row">
    <section id="features">
        <span class="close top"><a href="#" ng-click="$root.scrollToSection('#hero')">top</a></span>
        <h2 class="features col-md-6 col-md-offset-3">Your business process, simplified. Make matches easily and efficiently.</h2>

        <div class="col-sm-4 features-content">
            <span class="feature-1 col-md-offset-4">&nbsp;</span>
            <h3>Database Access</h3>
            <div class="features-copy">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </div>
        </div>
        <div class="col-sm-4 features-content">
            <span class="feature-2 col-md-offset-4">&nbsp;</span>
            <h3>Profile Management</h3>
            <div class="features-copy">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </div>
        </div>
        <div class="col-sm-4 features-content">
            <span class="feature-3 col-md-offset-4">&nbsp;</span>
            <h3>Social presence</h3>
            <div class="features-copy">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </div>
        </div>
    </section>
</div>
