<section id="hero">
    <div class="hero-img">
        <img class="img-responsive" src="/assets/hero.jpg" width="100%" height="auto"/>

        <div class="logo"></div>
        <nav>
            <a href="#features">Features</a>
            <a href="#faq">FAQ</a>
            <a href="#contactus">Contact</a>
            <a href="#try-it">Try it Free</a>
            <select class="form-control" ng-model="user.locale" name="locale" id="locale"
                    ng-options="value for (key , value) in localeList">
                <option value="">Select</option>
            </select>

        </nav>
        <h1 class="hero col-md-6 col-md-offset-3">Home - Your matchmaking business, simplified.</h1>

        <div class="hero-action col-md-3 col-md-offset-4">
            <div class="row">
                <a class="login" href="#" ng-click="$parent.showLoginForm()" ng-hide="$root.hasUserLoggedIn">Login</a>
                <h4>Hello {{$root.user.first_name}}</h4>
                <!--<a class="register" href="#" ng-click="showRegistrationForm()">Register</a> -->

            </div>
        </div>
    </div>
</section>