<section id="hero">
  <div class="hero-img">
    <img class="img-responsive" src="<%= image_url('hero.jpg') %>" width="100%" height="auto"/>
    <div class="logo"></div>
    <nav>
      <a href="#features">Features</a>
      <a href="#faq">FAQ</a>
      <a href="#contactus">Contact</a>
      <a href="#try-it">Try it Free</a>
    </nav>
    <h1 class="hero col-md-6 col-md-offset-3">Home - Your matchmaking business, simplified.</h1>

    <div class="hero-action col-md-3 col-md-offset-4">
      <div class="row">
        <a class="login" href="#" ng-click="showLoginForm()">Login</a>
        <!--<a class="register" href="#" ng-click="showRegistrationForm()">Register</a> -->
      </div>
    </div>
  </div>
</section>