<section id="hero">
    <div class="hero-img">
        <image class="img-responsive hero-img-size" src="assets/hero_1600_72ppi.jpg"  />
    </div>
    <div class="hero-content">
        <h1 class="hero text-center">Your trusted business platform for matchmaking.</h1>
        <div class="hero-action ">
            <a class="login col-xs-12 col-sm-4" ui-sref="login" ng-click="$root.showLogin()">Login</a>
            <a class="register col-xs-12 col-sm-4" ui-sref="register" ng-click="$root.showRegistration()">Register</a>
        </div>
    </div>
</section>
        
