<div class="row">
    <section id="hero">
        <img class="img-responsive" src="/assets/hero.jpg" width="100%" height="auto" />
        <div class="logo col-sm-2">&nbsp;</div>
        <nav>
            <a href="#" ng-click="$root.scrollToSection('#features')">Features</a>
            <a href="#" ng-click="$root.scrollToSection('#faq')">FAQ</a>
            <a href="#" ng-click="$root.scrollToSection('#contactus')">Contact</a>
            <a href="#" ng-click="$root.scrollToSection('#try-it')">Try it Free</a>
            <!--
            <select class="form-control" ng-model="user.locale" name="locale" id="locale"
                    ng-options="value for (key , value) in localeList">
                <option value="">Select</option>
            </select>
            -->
        </nav>
        <div class="col-sm-offset-3">
            <h1 class="hero col-md-6 ">Your matchmaking business, simplified.</h1>
            <div class="col-xs-offset-2">
                <div class="col-xs-2">
                    <!-- <a class="login"href="#" ng-click="$parent.showLoginForm()" ng-hide="$root.hasUserLoggedIn">Login</a> -->
                    <a class="login" ui-sref="index.login" ng-hide="$root.hasUserLoggedIn">Login</a>
                </div>
                <div class="col-xs-2">
                    <!-- <a class="register" href="#" ng-click="$parent.showRegistrationForm()" ng-hide="$root.hasUserLoggedIn">Register</a> -->
                    <a class="register" ui-sref="index.register" ng-hide="$root.hasUserLoggedIn">Register</a>
                </div>
            </div>
        </div>
    </section>
</div>
