<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="user-info" ng-include="'assets/partials/product/dashboard/userinfo.html'">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="user-count" ng-include="'assets/partials/product/dashboard/usercount.html'">			
		</div>
	</div>
</div>
<div class="user-search" ng-include="'assets/partials/product/dashboard/usersearch.html'">
</div>
<div>
	<div class="row">
		<div class="col-xs-12 col-sm-4" ng-include="'assets/partials/product/dashboard/clientsactivity.html'">			
		</div>
		<div class="col-xs-12 col-sm-4" ng-include="'assets/partials/product/dashboard/recomendations.html'">			
		</div>
		<div class="col-xs-12 col-sm-4" ng-include="'assets/partials/product/dashboard/inbox.html'">			
		</div>
	</div>
</div>