<!--FAQ-->
<div class="row">
    <section id="faq">
        <span class="close top"><a href="#" ng-click="$root.scrollToSection('#hero')">top</a></span>
        <h2>Frequently Asked Questions (FAQs)</h2>
        <div class="faqs">
            <p class="question"> what is the service?</p>
            <p class="answer"> Unify is a platform that allows  matchmakers to select candidates for their clients based on social media</p>
        </div>
        <div class="faqs">
            <p class="question"> can clients use it?</p>
            <p class="answer"> Yes. Clients may access a user account that presents candidates based on their own profile.</p>
        </div>
        <div class="faqs">
            <p class="question"> How many candidates are in the database?</p>
            <p class="answer"> Thousands, with more being added each day.</p>
        </div>
        <div class="faqs">
            <p class="question"> Are the candidates national or worldwide?</p>
            <p class="answer"> Both. Our databases presents local candidates, but contains choices from all over the world.</p>
        </div>
        <div class="faqs">
            <p class="question"> Can I see social media information for a profile when I view it?</p>
            <p class="answer"> Yes. Our platform is fully integrated with Facebook and Linkedin allowing you to make matches based on social and professional backgrounds.</p>
        </div>
        <div class="faqs">
            <p class="question"> What other features does the platform have?</p>
            <p class="answer"> Unify has comprehensive search ability for matchmakers to find the best choices.</p>
        </div>
        <div class="faqs">
            <p class="question"> How does the search feature work?</p>
            <p class="answer"> Matchmakers or Clients choose criteria such as education or religion and the feature presents them with multiple candidates.</p>
        </div>
        <div class="faqs">
            <p class="question"> How much does it cost?</p>
            <p class="answer"> Matchmakers pay to use the service, but their clients can use it free. Please contact our sales office for details.</p>
        </div>
    </section>
</div>