
    <div class="row quicksearch-box">
        <div class="col-md-4">
            <div class="quicksearch">
                <h4>Select a client:</h3>
                    <form method="post">
                        <select class="quicksearchclient"name="Icecream Flavours">
                            <option value="double chocolate">Double Chocolate</option>
                            <option value="vanilla">Vanilla</option>
                            <option value="strawberry">Strawberry</option>
                            <option value="caramel">Caramel</option>
                        </select>
                        <button type="submit" class="btn btn-search" ng-click="login()">submit</button>
                    </form>
                    <form method="post">
                        <input type="text" name="lname" class="search-txt">
                        <button type="submit" class="btn btn-search" ng-click="login()">submit</button>
                    </form>

            </div>
        </div>
        <div class="col-md-4">
            <div class="row search-img-box">
            <div class="img col-md-1 search-img">
                <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            </div>
                <div class="search-pic-desc col-md-5">
                    <h4>Searching For:</h4>
                    <address class="search-add">
                        <b>James Franklin</b><br />
                        San Francisco, CA <br />
                        United States<br/>
                        <button type="submit" class="btn btn-search" ng-click="login()">view profile</button>
                    </address>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="preferences-box">
                <h4>James's Preferences:</h4>
                <div class="prefer">
                    <div class="preferences"><span><b>Age: </b></span><span>30-40 Years old</span></div>
                    <div class="preferences"><span><b>Ethnicity: </b></span><span>Asian, White</span></div>
                    <div class="preferences"><span><b>Location: </b></span><span>San Jose, CA</span></div>
                    <div class="preferences"><span><b>Faith: </b></span><span>Muslim</span></div>
                    <div class="preferences"><span><b>Build: </b></span><span>Slim, Curvy</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row results">
        <div class="col-md-6 results-txt"><b>James Franklin's Matches: <span class="total-results">547</span> Results</b></div>
        <div class="col-md-6">
            <form method="post">
                <select class="search-results"name="Icecream Flavours">
                    <option value="double chocolate">Double Chocolate</option>
                    <option value="vanilla">Vanilla</option>
                    <option value="strawberry">Strawberry</option>
                    <option value="caramel">Caramel</option>
                </select>
                <button type="submit" class="btn btn-search" ng-click="login()">submit</button>
            </form>
        </div>

        </div>
    </div>
