<div class="search-filter-container">
    <div id="background-container" >
        <div class="row">
            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>


    <div id="values-container" >
        <div class="row">
            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <div id="appearance-container" >
        <div class="row">
            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <div id="lifestyle-container" >
        <div class="row">
            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>

            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                    <div><span>This is checkbox</span><span class="pull-right"> <input type="checkbox" /></span></div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>