<div class="search-filter-container">
    <div id="background-container" class="search-filter-container">
        <div class="row">
            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>Relationship:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>


    <div id="values-container" class="search-filter-container">
        <div class="row">
            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>Language:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <div id="appearance-container" class="search-filter-container">
        <div class="row">
            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>Appearance:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <div id="lifestyle-container" class="search-filter-container">
        <div class="row">
            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>

            <div class="col-md-6">
                <h5>lifestyle:</h5>
                <div class="filter">
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                    This is checkbox <input type="checkbox" />  <br />
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>