<div class="search-filter-container">
    <div id="background-container" class="search-filter-container">
        Background filter goes here..
    </div>

    <div id="values-container" class="search-filter-container">
        Values filter goes here..
    </div>

    <div id="appearance-container" class="search-filter-container">
        Appearance filter goes here..
    </div>

    <div id="lifestyle-container" class="search-filter-container">
        Lifestyle filter goes here..
    </div>
</div>