<div class="col-md-2">
    <aside>
        <div id="sidebar">
            <h4>Refine Search</h4>
            <ul class="sidebar-menu nav">

                <li id="background"> <a href="#" ng-click="showFilterTab('background')">Background</a></li>
                <li id="values"><a href="#" ng-click="showFilterTab('values')">Values</a></li>
                <li id="appearance"> <a href="#" ng-click="showFilterTab('appearance')">Appearance</a></li>
                <li id="lifestyle"> <a href="#" ng-click="showFilterTab('lifestyle')">Lifestyle</a></li>

                <form method="post">
                    <input type="text" name="lname" class="search-txt-side">
                    <button type="submit" class="btn btn-search-side" ng-click="login()">go</button>
                </form>


                <form method="post">
                    <input type="text" name="lname" class="search-txt-side">
                    <button type="submit" class="btn btn-search-side" ng-click="login()">go</button>
                </form>


            </ul>

            <div class="tab-content" style="display: none;">
                <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                </div>
                <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan.
                    Aliquam in felis sit amet augue.
                </div>
                <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis
                    pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae.
                </div>
            </div>
        </div>
    </aside>
</div>