<h1>Welcome To Account Setup</h1>

<p class="under-header-text">Please enter your information.<br> All fields are required.</p>

<form name="form" novalidate >

	<fieldset>

		<div class="first-row">
			<label class="powermail_label">Business Name:</label>
			<span>
				<input id="Business-Name" name="business_name" ng-model="account.business_name" required type="text">
			</span>
			<p ng-show="(form.$submitted || form.business_name.$touched) && form.business_name.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row">
			<label class="powermail_label">Business Location:</label>
			<span>
				<input id="Business-Location" name="business_location" ng-model="account.business_location" required type="text">
			</span>
			<p ng-show="(form.$submitted || form.business_location.$touched) && form.business_location.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row">
			<label class="powermail_label">Language:</label>			
			<span checkbox-list name="languages" required ng-model="account.languages" items="langOptions" value="id" label="name" class="multiple-input"></span>
			<p ng-show="(form.$submitted || form.languages.$touched) && form.languages.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row">
			<label class="powermail_label">Community:</label>
			<span checkbox-list name="community" required ng-model="account.community" items="communityOptions" value="id" label="name" class="multiple-input"></span>
			<p ng-show="(form.$submitted || form.community.$touched) && form.community.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row">
			<label class="powermail_label">Phone Number:</label>
			<span><input id="phone-number" name="phone_number" ng-model="account.phone_number" required type="text"></span>
			<p ng-show="(form.$submitted || form.phone_number.$touched) && form.phone_number.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-f">
			<label class="powermail_label">Address 1:</label>
			<span><input id="addres-first" name="address_first"  ng-model="account.address_first" required type="text"></span>
			<p ng-show="(form.$submitted || form.address_first.$touched) && form.address_first.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-s">
			<label class="powermail_label">Address 2:</label>
			<span><input id="addres-second" name="address_second" ng-model="account.address_second" required type="text"></span>
			<p ng-show="(form.$submitted || form.address_second.$touched) && form.address_second.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-city">
			<label class="powermail_label">City:</label>
			<span><input id="city" name="city" ng-model="account.city" required type="text"></span>
			<p ng-show="(form.$submitted || form.city.$touched) && form.city.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-state">
			<label class="powermail_label">State/Province:</label>
			<span><input id="province" name="state" ng-model="account.state" required type="text"></span>
			<p ng-show="(form.$submitted || form.state.$touched) && form.state.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-country"><label class="powermail_label">Country:</label>
			<span>
				<select>
					<option value="1">United States</option>
					<option value="2">Ukraine</option>
				</select>
			</span>
		</div>

		<!-- <p href="#" class="submit-button st-button"><input type="submit" value="SUBMIT"></p> -->
		<input type="submit" ng-click="submit(account)" class="btn submit-button st-button" value="SUBMIT">

	</fieldset>

</form>