<h1>Welcome To Account Setup</h1>

<p class="under-header-text">Please enter your information.<br> All fields are required.</p>

<form name="form" novalidate >

	<fieldset>

		<div class="first-row form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">Business Name:</label>
			<input id="Business-Name" class="form-control" name="business_name" ng-model="account.business_name" required type="text">
			<p ng-show="(form.$submitted || form.business_name.$touched) && form.business_name.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">Business Location:</label>
			<input id="Business-Location" class="form-control" name="business_location" ng-model="account.business_location" required type="text">
			<p ng-show="(form.$submitted || form.business_location.$touched) && form.business_location.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

    <div class="first-row">
      <label class="powermail_label">Religion:</label>      
      <span checkbox-list name="religions" required ng-model="account.religions" items="religionOptions" value="id" label="name" class="multiple-input"></span>
      <p ng-show="(form.$submitted || form.religions.$touched) && form.religions.$error.required" class="error-validation">
        Please Complete.
      </p>
    </div>

		<div class="first-row">
			<label class="powermail_label">Language:</label>			
			<span checkbox-list name="languages" required ng-model="account.languages" items="langOptions" value="id" label="name" class="multiple-input"></span>
			<p ng-show="(form.$submitted || form.languages.$touched) && form.languages.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row">
			<label class="powermail_label">Community:</label>
			<span checkbox-list name="community" required ng-model="account.community" items="communityOptions" value="id" label="name" class="multiple-input"></span>
			<p ng-show="(form.$submitted || form.community.$touched) && form.community.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="first-row form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">Phone Number:</label>
			<input id="phone-number" class="form-control" name="phone_number" ng-model="account.phone_number" required type="text">
			<p ng-show="(form.$submitted || form.phone_number.$touched) && form.phone_number.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-f form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">Address 1:</label>
			<input id="addres-first" class="form-control" name="address_first" ng-model="account.address_first" required type="text"/>
			<p ng-show="(form.$submitted || form.address_first.$touched) && form.address_first.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-s form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">Address 2:</label>
			<input id="addres-second" class="form-control" name="address_second" ng-model="account.address_second" required type="text"/>
			<p ng-show="(form.$submitted || form.address_second.$touched) && form.address_second.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-city form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">City:</label>
			<input id="city" class="form-control" name="city" ng-model="account.city" required type="text">
			<p ng-show="(form.$submitted || form.city.$touched) && form.city.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-state form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">State/Province:</label>
			<input id="province" class="form-control" name="state" ng-model="account.state" required type="text">
			<p ng-show="(form.$submitted || form.state.$touched) && form.state.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<div class="second-row address-country form-group" show-errors="{ showSuccess: true }">
			<label class="powermail_label">Country:</label>
			<select name="country" ng-model="account.country" required class="form-control">
				<option ng-repeat="c in countryOptions" value="{{c.id}}">{{c.name}}</option>
			</select>
			<p ng-show="(form.$submitted || form.country.$touched) && form.country.$error.required" class="error-validation">
				Please Complete.
			</p>
		</div>

		<!-- <p href="#" class="submit-button st-button"><input type="submit" value="SUBMIT"></p> -->
		<input type="submit" ng-click="submit(account)" class="btn submit-button st-button" value="SUBMIT">

	</fieldset>

</form>