<div class="row">
  <div class="col-xs-12 col-sm-8 height">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 clients-layout">
        <div class="user-info user-info-clients">

          <div ng-include="'assets/partials/product/clients/clientuserinfo.html'"></div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 clients-layout">
        <div class="user-count clients-layout">
          
          <div ng-include="'assets/partials/product/clients/clientusercount.html'"></div>

        </div>
      </div>
    </div>
    <div class="user-search">

      <p>
        Client Search:
      </p>
      
      <div ng-include="'assets/partials/product/clients/clientusersearch.html'"></div>  

    </div>
    <div ng-repeat="c in clients" class="user-table-wrapper">
      <div class="user-simple-table">
        <div class="img-wrapper">
          <img ng-src="{{c.profile_picture || loadProfilePicture(c.gender)}}" alt=""/>
        </div>
        <table>
          <tr>
            <td>{{c.first_name}}</td>
            <td>{{c.last_name}}</td>
            <td>{{c.unique_id}}</td>
            <td>{{c.age}}</td>
            <td>{{c.height}}</td>
          </tr>
          <tr>
            <td>{{c.religion}}</td>
            <td>{{c.community}}</td>
            <td>{{c.state}}</td>
            <td>{{c.country}}</td>
          </tr>
          <tr>
            <td>{{c.recommended}}</td>
            <td>{{c.partner_search}}</td>
            <td>{{c.who_is_viewed}}</td>
          </tr>
        </table>
      </div>
    </div>
    <nav ng-show="maxPages > 0" class="clients-nav">
      <ul class="pager clients-pager">
        <li ng-show="currentPage > 1">
          <a ng-click="previousPage()" href="#">Previous</a>
        </li>
        <li ng-repeat="p in getPages() track by $index">
          <a ng-click="changePage($index+1)"href="#">{{$index + 1}}</a>
        </li>
        <li ng-show="currentPage !== maxPages">
          <a ng-click="nextPage()" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="adwrapper user-info">

    </div>
  </div>
</div>

<script type="text/javascript" src="assets/jquery/clientscript.js"></script>