<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="user-info">
			<div class="row ">
				<div class="user-info-img  pull-left col-xs-12 col-sm-5  col-md-5">
					<img src="assets/images/image-client.png" alt="user">
				</div>
				<div class="user-info-descr col-xs-12 col-sm-7   col-md-7">
					<h3>Welcome!</h3>
					<p class="user-info-name">Michelle Wong</p>
					<p class="user-info-description">Table For Two</p>
					<p class="user-info-place">San Francisco, United States</p>
					<p class="user-info-visit">Last Visit:</p>
					<p class="user-info-visit-date">12-16-14 12:34 PM  (Tuesday)</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="user-count">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p>Male Clients:</br>567</p>
					<img src="assets/images/icon-male.png" alt="">
				</div>
				<div class="col-xs-12 col-sm-4">
					<p>Female Clients:</br>879</p>
					<img src="assets/images/icon-female.png" alt="">
				</div>
				<div class="col-xs-12 col-sm-4">
					<p>Candidates:</br>30,456</p>
					<img src="assets/images/icon-candidate.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="user-search">
	<p>Client Search:</p>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="user-search-input">
				<select>
				<option value="1">Velasquez, Henry</option>
				<option value="2">Jenifer, Ralston</option>
			</select>
				<span class="user-search-input-btn">
					<button class="btn btn-default submit-button" type="button">Go!</button>
				</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="user-search-input">
				<input type="text" class="form-control" placeholder="Enter Client Name">
				<span class="user-search-input-btn">
					<button class="btn btn-default submit-button" type="button">Go!</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="user-search-header first">
				<p>Clients</p>
			</div>
			<div class="user-search-content">
				<p>Recently Activity:</p>
				<div class="user-search-wrapper-descript">
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-men.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a class="darkerColor" href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-women.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name darkerColor">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a class="darkerColor" href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-men.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a class="darkerColor" href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-women.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<p class="user-search-name darkerColor">Jenifer Ralston</p>
							<p class="user-search-descript">Recently viewed <a href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="user-search-header second">
				<p>Recommendations</p>
			</div>
			<div class="user-search-content">
				<p>Candidate Suggestions:</p>
				<div class="user-search-wrapper-descript">
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-men.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-women.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-men.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-women.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Recently viewed <a href="#">Tom Gomez’s</a> profile.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="user-search-header third">
				<p>Inbox</p>
			</div>
			<div class="user-search-content">
				<p>Recent Mail:</p>
				<div class="user-search-wrapper-descript">
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-men.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Subject: <a href="#">“Ray Johnson”</a></p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-women.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Subject: <a href="#">“I Need More Information”</a></p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-men.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Subject: <a class="darkerColor" href="#">“Ray Johnson”</a></p>

						</div>
					</div>
					<div class="row">
						<div class="user-search-img  pull-left col-xs-2 col-sm-2">
							<img src="assets/images/placeholder-small-women.png" alt="user">
						</div>
						<div class="user-search-text col-xs-10 col-sm-10 ">
							<a class="user-search-name">Jenifer Ralston</a>
							<p class="user-search-descript">Subject: <a class="darkerColor" href="#">“Ray Johnson”</a></p>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>