<li ui-sref="product.dashboard" ui-sref-active="active"><a href="#">Dashboard</a></li>
<li ui-sref="product.clients" ui-sref-active="active"><a href="#">Clients</a></li>
<li ui-sref="product.addclients" ui-sref-active="active"><a href="#">Add Clients</a></li>
<li ui-sref="product.search" ui-sref-active="active"><a href="#">Search</a></li>
<li ui-sref="product.inbox" ui-sref-active="active"><a href="#">Inbox</a></li>
<li ui-sref="product.account" ui-sref-active="active"><a href="#">Account</a></li>