<div class="standart-block-wrapper">
  <div class="search-first-row">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4" ng-include="'assets/partials/product/search/clientsearch.html'">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4" ng-include="'assets/partials/product/search/clientdetails.html'">
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4" ng-include="'assets/partials/product/search/clientpreferences.html'">
        
      </div>
    </div>
  </div>
  <div class="search-second-row" ng-include="'assets/partials/product/search/results.html'">
    
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3" ng-include="'assets/partials/product/search/searchsidebar.html'">
      
    </div>
    <div class="col-xs-12 col-sm-9" ng-include="'assets/partials/product/search/resultdetails.html'">
      
    </div>
  </div>
</div>