<div class="standart-block-wrapper">
  <div class="search-first-row">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="standart-white-block">
          <h3>Searching For:</h3>
          <div class="standart-white-block-input">
            <select>
              <option value="1">Velasquez, Henry</option>
              <option value="2">Jenifer, Ralston</option>
            </select>
            <span class="user-search-input-btn">
              <button class="btn btn-default submit-button" type="button">SUBMIT</button>
            </span>
          </div>
          <div class="standart-white-block-input">
            <input type="text" class="form-control" placeholder="Enter Client Name">
            <span class="user-search-input-btn">
              <button class="btn btn-default submit-button" type="button">SUBMIT</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="user-info standart-white-block">
          <div class="row ">
            <div class="user-info-img  pull-left col-xs-12 col-sm-5  col-md-6">
              <img src="assets/images/image-client.png" alt="user">
            </div>
            <div class="user-info-descr col-xs-12 col-sm-7   col-md-6">
              <h3>Searching For:</h3>
              <p class="user-info-name">Michelle Wong</p>
              <p class="user-info-place">San Francisco, United States</p>
              <span class="user-search-input-btn">
                <button class="btn btn-default submit-button" type="button">VIEW PROFILE</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="user-info-deskription standart-white-block">
          <h3>Henry's Preferences:</h3>
          <p><mark>Age:</mark> 30-40 Years Old</p>
          <p><mark>Ethnicity:</mark> Hispanic, Asian, White</p>
          <p><mark>Location:</mark> San Francisco, United States</p>
          <p><mark>Faith:</mark> Christian (Catholic)</p>
          <p><mark>Build:</mark> Slim, Curvy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="search-second-row">
    <h2>Henry Velasquez's Matches: <span>567 Results</span></h2>
    <div class="standart-white-block-input">
      <select>
        <option value="1">Velasquez, Henry</option>
        <option value="2">Jenifer, Ralston</option>
      </select>
      <span class="user-search-input-btn">
        <button class="btn btn-default submit-button" type="button">SUBMIT</button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="search-sidebar-wrapper">
        <div class="search-sidebar">
          <h3>Refine Search</h3>
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="search-sidebar">
              <ul class="nav navbar-nav sidebar-search-list">
                <li><a href="search-basic.html">Basic</a></li>
                <li><a href="search-appereance.html">Appearance</a></li>
                <li><a href="search-habits.html">Habits</a></li>
                <li><a href="search-horoscope.html">Horoscope</a></li>
                <li>
                  <div class="standart-white-block-input">
                    <input type="text" class="form-control" placeholder="Keyword Search">
                    <span class="user-search-input-btn">
                      <button class="btn btn-default submit-button" type="button">GO</button>
                    </span>
                  </div>
                </li>
                <li>
                  <div class="standart-white-block-input">
                    <input type="text" class="form-control" placeholder="Name Search">
                    <span class="user-search-input-btn">
                      <button class="btn btn-default submit-button" type="button">GO</button>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-info no-top-margin standart-white-block">
            <div class="row ">
              <div class="user-info-img  pull-left col-xs-12">
                <img src="assets/images/image-client.png" alt="user">
              </div>
              <div class="user-info-descr col-xs-12">
                <p class="user-info-name">Michelle Wong</p>
                
                <p class="user-info-place">San Francisco, United States</p>
                <a class='user-info-read-more' href="#">+ shortlist</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class='search-pager'>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">Previous</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>