html {
	height: 100%;
	min-height: 100%;
}
body {
	position: relative;
	height: 100%;
	min-height: 100%;
	font-family: 'arial';
	font-weight: normal;
	margin: 0;
}
a:hover, a:focus, a:visited {
	outline: none;
}
a:focus, a:visited {
	text-decoration: none;
}
.container {
	/*padding: 0 15px;*/
	max-width: 985px;
	width: 100% !important;
	margin: 0 auto;
}
.wrapper {
	background-color: #e9dbc9;
	position: absolute;
	min-height: 100%;
	/*padding-bottom: 195px;*/
	min-width: 320px;
	width: 100%;
	transform: translate(0px, 0px);
	transition: transform 1s ease 0s;
	z-index: 15;
	
}

.wrapper.pull_left {
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-webkit-transform: translate(-250px, 0px);
	-moz-transform: translate(-250px, 0px);
	-ms-transform: translate(-250px, 0px);
	transform: translate(-250px, 0px);
}

fieldset > div {
	position:relative;
}

.error-validation:before{
	content:" ";
	position:absolute;
	top:-10px;
	left:55px;
	background-image: url(../../images/error-arrow.png);
	background-repeat:no-repeat;
	background-position:top center;
	height:11px;
	width:11px;
}
.error-validation{
	position:absolute;
	top:110%;
	left:53%;
	z-index:9999;
	background-color: #793919;
	color:#fff;
	padding:5px 5px;
	border-radius:3px;
}
