<div class="user-info-select no-top-margin standart-white-block search-appereance">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="search-height pull-left">
        <label class="powermail_label">Height:</label>
        <span>
          <select>
            <option value="1">4.8"</option>
            <option value="2">6"</option>
          </select> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- <button type="button" class="" aria-label="Left Align"> -->
          <a href="#" ng-click="closeRefine()" class="btn btn-default close-search pull-right glyphicon glyphicon glyphicon-remove" aria-hidden="true"></a>
          <!-- </button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Body-type:</label>
        <span class="multiple-input"> <label>
            <input id="body-type-asian" name="bod-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="body-type-black" name="bod-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="body-type-indian" name="bod-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="body-type-Latino/Hispanic" name="bod-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="body-type-Middle-Eastern" name="bod-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="body-type-Native-American" name="bod-Native-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Eye-color:</label>
        <span class="multiple-input"> <label>
            <input id="eye-color-asian" name="eye-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="eye-color-black" name="eye-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="eye-color-indian" name="eye-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="eye-color-Latino/Hispanic" name="eye-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="eye-color-Middle-Eastern" name="eye-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="eye-color-Native-American" name="eye-Native-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Hair-color:</label>
        <span class="multiple-input"> <label>
            <input id="hair-color-asian" name="hair-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="hair-color-black" name="hair-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="hair-color-indian" name="hair-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="hair-color-Latino/Hispanic" name="hair-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="hair-color-Middle-Eastern" name="hair-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="hair-color-Native-American" name="hair-Native-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Physical Status:</label>
        <span class="multiple-input"> <label>
            <input id="physical-status-asian" name="physical-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="physical-status-black" name="physical-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="physical-status-indian" name="physical-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="physical-status-Latino/Hispanic" name="physical-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="physical-status-Middle-Eastern" name="physical-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="physical-status-Native-American" name="physical-Native-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Complexion:</label>
        <span class="multiple-input"> <label>
            <input id="complexion-asian" name="complex-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="complexion-black" name="complex-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="complexion-indian" name="complex-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="complexion-Latino/Hispanic" name="complex-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="complexion-Middle-Eastern" name="complex-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="complexion-Native-American" name="complex-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
  </div>
  <button class="btn btn-default submit-button" type="button">
    SUBMIT
  </button>
</div>

<script type="text/javascript" src="assets/jquery/searchscript.js"></script>