<div class="user-info standart-white-block ng-cloak">
  <div class="row ">
    <div class="user-info-img  pull-left col-xs-12 col-sm-5  col-md-6">
      <img ng-src="{{search.searchingFor.profile_picture || 'assets/images/image-client.png'}}" alt="user">
    </div>
    <div class="user-info-descr col-xs-12 col-sm-7   col-md-6">
      <h3>Searching For:</h3>
      <p class="user-info-name">{{search.searchingFor.name}}</p>
      <p class="user-info-place">{{search.searchingFor.place}}</p>
      <span class="user-search-input-btn">
        <button ng-click="viewProfile()" class="btn btn-default submit-button" type="button">VIEW PROFILE</button>
      </span>
    </div>
  </div>
</div>