<div class="user-info-deskription standart-white-block">
  <h3><span ng-show="search.searchingFor">{{search.searchingFor.name}}'s</span> Preferences:</h3>
  <p><mark>Age:</mark> {{search.searchingFor.preferences.age}}</p>
  <p><mark>Ethnicity:</mark> {{search.searchingFor.preferences.ethnicity}}</p>
  <p><mark>Location:</mark> {{search.searchingFor.preferences.location}}</p>
  <p><mark>Faith:</mark> {{search.searchingFor.preferences.faith}}</p>
  <p><mark>Build:</mark> {{search.searchingFor.preferences.build}}</p>
</div>