<div class="standart-white-block">
  <h3>Searching For:</h3>
  <div class="standart-white-block-input">
    <select>
      <option value="1">Velasquez, Henry</option>
      <option value="2">Jenifer, Ralston</option>
    </select>
    <span class="user-search-input-btn">
      <button class="btn btn-default submit-button" type="button">SUBMIT</button>
    </span>
  </div>
  <div class="standart-white-block-input">
    <input type="text" class="form-control" placeholder="Enter Client Name">
    <span class="user-search-input-btn">
      <button class="btn btn-default submit-button" type="button">SUBMIT</button>
    </span>
  </div>
</div>