<div class="user-info-select no-top-margin standart-white-block search-habits">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <!-- <button type="button" class="" aria-label="Left Align"> -->
      <a href="#" ng-click="closeRefine()" class="btn btn-default close-search pull-right glyphicon glyphicon glyphicon-remove" aria-hidden="true"></a>
      <!-- </button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="search-smoke search-standart-inputs">
        <label class="powermail_label pull-left">Smoke :</label>
        <span class="multiple-input"> <label>
            <input id="smoke-asian" name="smok-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="smoke-black" name="smok-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="smoke-indian" name="smok-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="smoke-Latino/Hispanic" name="smok-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="smoke-Middle-Eastern" name="smok-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="smoke-Native-American" name="smok-Native-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Drink:</label>
        <span class="multiple-input"> <label>
            <input id="drink-asian" name="drin-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="drink-black" name="drin-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="drink-indian" name="drin-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="drink-Latino/Hispanic" name="drin-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="drink-Middle-Eastern" name="drin-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="drink-Native-American" name="drin-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="search-etnicithy search-standart-inputs">
        <label class="powermail_label pull-left">Eating:</label>
        <span class="multiple-input"> <label>
            <input id="eating-asian" name="eat-asian" type="checkbox" value="asian">
            Asian</label> <label>
            <input id="eating-black" name="eat-canada" type="checkbox" value="black">
            Black </label> <label>
            <input id="eating-indian" name="eat-indian" type="checkbox" value="indian">
            East Indian </label>
          <br>
          <label>
            <input id="eating-Latino/Hispanic" name="eat-Latino/Hispanic" type="checkbox" value="indian">
            Latino/Hispanic </label>
          <br>
          <label>
            <input id="eating-Middle-Eastern" name="eat-Middle-Eastern" type="checkbox" value="indian">
            Middle Eastern </label>
          <br>
          <label>
            <input id="eating-Native-American" name="eat-American" type="checkbox" value="indian">
            Native American </label> </span>
      </div>
    </div>

  </div>
  <button class="btn btn-default submit-button" type="button">
    SUBMIT
  </button>
</div>

<script type="text/javascript" src="assets/jquery/searchscript.js"></script>