<div class="row">
  <div ng-show="!('product.search'|isState)" class="col-xs-12 col-sm-8 animate" ui-view>


  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="user-info no-top-margin standart-white-block">
      <div class="row ">
        <div class="user-info-img  pull-left col-xs-12">
          <img src="assets/images/image-client.png" alt="user">
        </div>
        <div class="user-info-descr col-xs-12">
          <p class="user-info-name">Michelle Wong</p>
          
          <p class="user-info-place">San Francisco, United States</p>
          <a class='user-info-read-more' href="#">+ shortlist</a>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class='search-pager'>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">Previous</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">Next</span>
      </a>
    </li>
  </ul>
</nav>