<div class="search-sidebar-wrapper">
  <div class="search-sidebar">
    <h3>Refine Search</h3>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-sidebar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="search-sidebar">
        <ul class="nav navbar-nav sidebar-search-list">
          <li><a href="search-basic.html">Basic</a></li>
          <li><a href="search-appereance.html">Appearance</a></li>
          <li><a href="search-habits.html">Habits</a></li>
          <li><a href="search-horoscope.html">Horoscope</a></li>
          <li>
            <div class="standart-white-block-input">
              <input type="text" class="form-control" placeholder="Keyword Search">
              <span class="user-search-input-btn">
                <button class="btn btn-default submit-button" type="button">GO</button>
              </span>
            </div>
          </li>
          <li>
            <div class="standart-white-block-input">
              <input type="text" class="form-control" placeholder="Name Search">
              <span class="user-search-input-btn">
                <button class="btn btn-default submit-button" type="button">GO</button>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>