<h2>Interests</h2>
<fieldset>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="st-add-input search-standart-inputs">
        <label class="powermail_label pull-left">Movies</label>
        <input name="movies" ng-model="client.fifth.movies" type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="st-add-input search-standart-inputs">
        <label class="powermail_label pull-left">Music</label>
        <input name="music" ng-model="client.fifth.music" type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="st-add-input search-standart-inputs">
        <label class="powermail_label pull-left">Tv shows</label>
        <input name="tv_shows" ng-model="client.fifth.tv_shows" type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="st-add-input search-standart-inputs">
        <label class="powermail_label pull-left">Cuisine</label>
        <input name="cuisine" ng-model="client.fifth.cuisine" type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="st-add-input search-standart-inputs">
        <label class="powermail_label pull-left">Hobbies</label>
        <input name="hobbies" ng-model="client.fifth.hobbies" type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="st-add-input search-standart-inputs">
        <label class="powermail_label pull-left">Facebook profile URL</label>
        <input name="facebook_profile" ng-model="client.fifth.facebook_profile" type="text" class="form-control">
      </div>
    </div>
  </div>
  <button ng-click="fifthSave()" class=" btn btn-default save-button" type="button">
    Save
  </button>
</fieldset>