<h2>Appereance</h2>
<fieldset>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">How tall are you?</label>
        <span class="user-search-input-btn">
          <select name="height" ng-options="i.description for i in heightOptions track by i.id" ng-model="client.fourth.height">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">What is your hair color?</label>
        <span class="user-search-input-btn">
          <select name="hair_color" ng-options="i.description for i in hairOptions track by i.id" ng-model="client.fourth.hair_color">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">What is your eye color?</label>
        <span class="user-search-input-btn">
          <select name="eye_color" ng-options="i.description for i in eyeOptions track by i.id" ng-model="client.fourth.eye_color">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">Do you smoke?</label>
        <span class="user-search-input-btn">
          <select name="smoke" ng-options="i.description for i in smokeOptions track by i.id" ng-model="client.fourth.smoke">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">Do you drink?</label>
        <span class="user-search-input-btn">
          <select name="drink" ng-options="i.description for i in drinkOptions track by i.id" ng-model="client.fourth.drink">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">What are your food habits?</label>
        <span class="user-search-input-btn">
          <select name="food_habits" ng-options="i.description for i in eatingOptions track by i.id" ng-model="client.fourth.food_habits">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">What is your body type?</label>
        <span class="user-search-input-btn">
          <select name="body_type" ng-options="i.description for i in bodyOptions track by i.id" ng-model="client.fourth.body_type">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">What is your complexion?</label>
        <span class="user-search-input-btn">
          <select name="complexion" ng-options="i.description for i in complexionOptions track by i.id" ng-model="client.fourth.complexion">
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="yours-info select-add-clients">
        <label class="powermail_label pull-left">What is your Physical status?</label>
        <span class="user-search-input-btn">
          <select name="physical_status" ng-options="i.description for i in physicalOptions track by i.id" ng-model="client.fourth.physical_status">
          </select>
        </span>
      </div>
    </div>
  </div>
  <button ng-click="fourthSave()" class=" btn btn-default save-button" type="button">
    Save
  </button>
</fieldset>