<ul class="nav mobile-menu">
	<li><a href="#">Dashboard</a></li>
	<li><a href="#">Clients</a></li>
	<li><a href="#">Add Clients</a></li>
	<li><a href="#">Search</a></li>
	<li><a href="#">Inbox</a></li>
	<li class="active"><a href="#">Account</a></li>
</ul>

<div class="wrapper">
	<div class="header">
		<div class="container">
			<div class="header-wrapper">
				<a href="#" class="main-logo"><img src="assets/images/logo.png" alt="logo"></a>
				<ul  class="nav main-menu">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Add Clients</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Inbox</a></li>
					<li class="active"><a href="#">Account</a></li>
				</ul>
				<a href="#" class="menu-button"></a>
				<a href="#" class="logout-button">LOGOUT</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			
		</div>
	</div>
</div>