<ul class="nav mobile-menu" ui-view="menulist">
	
</ul>

<a ng-show="'product.addclients'|isState" class="go-to-top scrollup" href="">
  <i class="fa fa-chevron-circle-up"></i>
</a>

<div class="wrapper">
	<div class="header">
		<div class="container">
			<div class="header-wrapper">
				<a href="#" class="main-logo"><img src="assets/images/logo.png" alt="logo"></a>
				<ul class="nav main-menu" ui-view="menulist">

				</ul>
				<a href="#" ng-click="openMenu()" class="menu-button"></a>
				<a href="#" ng-click="logout()" class="logout-button">LOGOUT</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container" ui-view></div>
	</div>
</div>