<section id="mainwrap">
    <section class="container-fluid">
        <div ui-view="header"></div>
    </section>
    <section class="container">
        <div ui-view="quick-search"></div>
        <div class="row">
            <div ui-view="sidebar"></div>
            <div class="col-md-10 main-results">
                <div ui-view="search-filters" ng-hide="showingResult" class="col-md-9"></div>
                <div ui-view="results" ></div>
            </div>
        </div>
    </section>
    <div ui-view="footer"></div>
</section>
