<div class="content">
    <div class="container">
        <h1>Welcome To Account Setup</h1>
        <p class="under-header-text">Please enter your information.<br> All fields are required.</p>
        <fieldset>
            <div class="first-row"><label class="powermail_label">Business Name:</label><span><input type="text"></span></div>
            <div class="first-row"><label class="powermail_label">Business Location:</label><span><input type="text"></span></div>
            <div class="first-row">
                <label class="powermail_label">Language:</label>
						<span class='multiple-input'>
							<input type="checkbox" name="option1" value="US"> US <br/>
							<input type="checkbox" name="option1" value="Canada"> Canada <br/>
							<input type="checkbox" name="option1" value="Italy"> Italy <br/>
						</span>
            </div>
            <div class="first-row"><label class="powermail_label">Community:</label>
						<span class='multiple-input'>
							<input type="checkbox" name="option1" value="afrikanas"> Afrikanas <br/>
							<input type="checkbox" name="option1" value="albanian"> Albanian <br/>
							<input type="checkbox" name="option1" value="arabic"> Arabic <br/>
						</span>
            </div>
            <div class="first-row"><label class="powermail_label">Phone Number:</label><span><input type="text"></span></div>
            <div class="second-row address-f"><label class="powermail_label">Address 1:</label><span><input type="text"></span></div>
            <div class="second-row address-s"><label class="powermail_label">Address 2:</label><span><input type="text"></span></div>
            <div class="second-row address-city"><label class="powermail_label">City:</label><span><input type="text"></span></div>
            <div class="second-row address-state"><label class="powermail_label">State/Province:</label><span><input type="text"></span></div>
            <div class="second-row address-country"><label class="powermail_label">Country:</label>
						<span>
							<select>
                                <option value="1">United States</option>
                                <option value="2">Ukraine</option>
                            </select>
						</span>
            </div>
            <p href="#" class="submit-button st-button"><input type="submit" value="SUBMIT"></p>
        </fieldset>
    </div>
</div>