<div id="candidates" class="row">
    <h2>Candidates</h2>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
    <div class="hero-story-img col-md-2">
        <div class="img">
            <a target="_blank" href="klematis_big.htm"><img  style="background-position: -336px -180px; background-image: url(/assets/matchmakerssprite.svg)" width="180" height="120"></a>
            <div class="desc">
                <address>
                    <b>James F.</b><br />
                    San Francisco, CA <br />
                    United States
                </address>
            </div>
        </div>
    </div>
</div>