<div class="container-fluid">
    <div class="row">
        <div class="nav">
            <div class="mm-logo">logo</div>
            <div class="ads">
                <img class="img-responsive ads" src="/assets/ad.jpg" width="100%" height="400px" />
            </div>
            <nav>
                <a href="#success">SUCCESS STORIES</a>
                <a href="#candidates">CANDIDATES</a>
                <a href="#faq">FAQs</a>
                <a class="login" href="#login">LOGIN</a>
            </nav>
            <span class="powered">&nbsp;</span>
        </div>
    </div>
</div>