<section id="hero">

    <div class="hero-img">
        <img class="img-responsive" src="<%= image_url('hero.jpg') %>" width="100%" height="auto" />
        <span class="icon">
            <img class="img-responsive" src="<%= image_url('logo.jpg') %>" width="250px" height="auto" />
        </span>
        <nav>
            <a href="#features">Features</a>
            <a href="#faq">FAQ</a>
            <a href="#contactus">Contact</a>
            <a href="/jquery/">Try it Free</a>
        </nav>
        <h1 class="hero col-md-6 col-md-offset-3">Match Maker - Your matchmaking business, simplified.</h1>
        <div class="hero-action col-md-3 col-md-offset-4">
            <a class="login" href="#">Login</a>
            <a class="register" href="#">Register</a>
        </div>
    </div>
</section>