<div class="row">
    <div class="hero-success-main">
        <div class="main-story col-md-3">
            <h3>Table for Two</h3>
            <address>
                San Francisco, California <br/>
                United States <br/>
                <b>Matches: 1021 </b><br/>
                <span class="candidates">Candidates: 4458</span>
            </address>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa.
        </div>
        <div class="main-story-img col-md-9">
            <img class="img-responsive " src="/assets/hero-success.jpg" width="100%" height="auto"/>
        </div>
    </div>
    <div ui-view="social"></div>
</div>