<section id="registration" ng-show="$root.registrationFormVisible">
    <button type="button" class="close" data-dismiss="modal"
            ng-click="$root.registrationFormVisible = false; $root.scrollToSection('#main-container')">
        <span aria-hidden="true"><a href="/">X</a></span>
        <span class="sr-only">Close</span>
    </button>

    <h2>Registration</h2>

    <form class="form-horizontal registerForm" method="post" name="registrationForm">
        <div class="form-group">
            <label class="col-sm-5 control-label">EMail </label>

            <div class="col-xs-12 col-sm-4">
                <input type="text" class="form-control" name="email" ng-model="user.email"
                       data-bv-notempty="true"
                       data-bv-notempty-message="The username is required and cannot be empty"

                       data-bv-stringlength="true"
                       data-bv-stringlength-min="6"
                       data-bv-stringlength-max="30"
                       data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long"

                       data-bv-regexp="true"
                       data-bv-regexp-regexp="^[a-zA-Z0-9]+$"
                       data-bv-regexp-message="The username can only consist of alphabetical and number"

                       data-bv-different="true"
                       data-bv-different-field="password"
                       data-bv-different-message="The username and password cannot be the same as each other"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Password </label>

            <div class="col-xs-12 col-sm-4">
                <input type="password" class="form-control" name="password" ng-model="user.password"
                       data-bv-notempty="true"
                       data-bv-notempty-message="The password is required and cannot be empty"

                       data-bv-stringlength="true"
                       data-bv-stringlength-min="8"
                       data-bv-stringlength-message="The password must have at least 8 characters"

                       data-bv-different="true"
                       data-bv-different-field="username"
                       data-bv-different-message="The password cannot be the same as username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Re-enter Password </label>

            <div class="col-xs-12 col-sm-4">
                <input type="password" class="form-control" name="rePassword" ng-model="user.re_password"
                       data-bv-notempty="true"
                       data-bv-notempty-message="The password is required and cannot be empty"

                       data-bv-stringlength="true"
                       data-bv-stringlength-min="8"
                       data-bv-stringlength-message="The password must have at least 8 characters"

                       data-bv-different="true"
                       data-bv-different-field="username"
                       data-bv-different-message="The password cannot be the same as username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">First Name </label>

            <div class="col-xs-12 col-sm-4">
                <input type="text" class="form-control" name="first_name" ng-model="user.first_name"
                       data-bv-notempty="true"
                       data-bv-notempty-message="The first name is required and cannot be empty"

                       data-bv-stringlength="true"
                       data-bv-stringlength-max="80"
                        />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Last Name </label>

            <div class="col-xs-12 col-sm-4">
                <input type="text" class="form-control" name="last_name" ng-model="user.last_name"
                       data-bv-notempty="true"
                       data-bv-notempty-message="The last name is required and cannot be empty"

                       data-bv-stringlength="true"
                       data-bv-stringlength-max="80"
                        />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Organization Name </label>

            <div class="col-xs-12 col-sm-4">
                <input type="text" class="form-control" name="organization_name" ng-model="user.organization_name"
                       data-bv-notempty="true"
                       data-bv-notempty-message="The organization name is required and cannot be empty"

                       data-bv-stringlength="true"
                       data-bv-stringlength-max="80"
                        />
            </div>
        </div>
        <input type="hidden" name="user_type" ng-model="user.user_type" value="MM"/>
        <div class="form-group">
            <div class=" col-sm-6 col-xs-12 col-sm-4 col-md-offset-5">
                <button type="submit" class="btn btn-default" ng-click="register(registrationForm)">submit</button>
            </div>
        </div>

    </form>
</section>