<div class="standart-block-content">
  <div class="row">
    <form name="form" novalidate class="input-form-wrapper">
      <div class="form-group" show-errors="{ showSuccess: true }">
        <!-- Check directive for help https://github.com/localytics/angular-chosen -->
        <select name="contacts" required data-placeholder="To"
                chosen
                multiple
                class="chosen-select-width form-control chosen-contacts"
                ng-model="compose.contacts"
                ng-options="c.id as c.name for c in contactOptions">
          <option value=""></option>
        </select>
      </div>
      <div class="first-row form-group" show-errors="{ showSuccess: true }">
        <input type="text" ng-model="compose.subject" name="subject" class="form-control" required placeholder="Enter a subject">
      </div>

      <div class="form-group" show-errors="{ showSuccess: true }">
        <textarea name="message" ng-model="compose.message" required class="form-control" placeholder="Type your message...."></textarea>
      </div>

      <!--<input name="attach" type="file" fileread="compose.attach">-->
      <a href="#"><i class='attach-file-icon'></i>Attach files</a>

      <button ng-click="send()" class="btn btn-default submit-button" type="button">Send Message</button>
      <button ng-click="cancel()" class="btn btn-default submit-button" type="button">Cancel</button>

    </form>
  </div>
</div>
