<div class="standart-block-content no-padding">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <ul class="trash-user-list">
        <li ng-click="select(m)" ng-repeat="m in inbox.messages" ng-class="{'active': m.id == inbox.selected.id}">
          <div class="row">
            <div class="user-search-img  pull-left col-xs-2 col-sm-2">
              <img ng-src="{{m.author_profile_picture || loadProfilePlaceholder(m.gender)}}" alt="user">
            </div>
            <div class="user-search-text col-xs-10 col-sm-10 ">
              <a href="#" class="user-search-name">{{m.author_name}}</a>
              <a href="#" class="trash-user-read-more">{{m.title_exerpt}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 hidden-xs">
      <div class="right-text-column">
        <h1>{{inbox.selected.title}}</h1>
        <a href="#">{{inbox.selected.author_name}}</a>
        <p>{{inbox.selected.date}}</p>
        <div compile="inbox.selected.body"></div>
        <button ng-click="reply()" class="btn btn-default submit-button pull-left" type="button">Reply</button>
      </div>
    </div>
  </div>
</div>