<div ui-view="search">
    <section id="mainwrap">
        <section class="container-fluid">
            <div ui-view="header"></div>
        </section>
        <section class="container">
            <div ui-view="quick-search"></div>
            <div class="row">
                <div ui-view="sidebar"></div>
                <div class="col-md-10 main-results">
                    <div ui-view="search-filters" ng-hide="showing_result"></div>
                    <div ui-view="results" ng-show="showing_result"></div>
                </div>
            </div>
        </section>
        <div ui-view="footer"></div>
    </section>
</div>
