
nav a, .hero {
    color: #fff;
}

nav {
    position: absolute;
    right: 50px;
    top: 50px;
}

nav a {
    padding-right: 20px;
    font-size: 18pt;
}

nav a:hover {
    color: #d76018;
}


.logo {
    position: absolute;
    top: 50px;
    left:50px;
    width: 100px;
    height: 50px;
    background: url(assets/matchmakerssprite.svg);
    background-position: -549px -29px;
}


.hero {
    position: absolute;
    top:200px;
}

.login, .register {
    position: absolute;
    top:-400px;
    padding: 8px 26px;
    color: #fff;
    background-color: #b5926a;
    border-radius: 4px;
    font-size: 18pt;
}

.login:hover, .register:hover {
    background-color: #885327;
    color: #f9efe3;
}

.login-form, #registration {
    display: none;
}
.login-form, .login-label {
    background-color: #37322f;
    color: #fff;

}

.login-form, #registration{
    margin-top: -1px;
}

.top {
    position: relative;
    right: 20px;
    top: 10px;

}

.top a {
    color: #d76018;
}

#login .close, #registration .close {
    padding: 10px 20px 0 0;
}
.close a {
    color: #fff;
}

.btn-default {
    color: #f9efe3;
    background-color: #b5926a;
    font-size: 21px;
}

.btn-default:hover {
    background-color: #d76018;
    color: #fff;
}

/*--- for screen size: 768px; ---*/
@media (max-width:768px){

}

