nav a, .hero {
    color: #fff;
}

nav {
    position: absolute;
    right: 50px;
    top: 50px;
}

nav a {
    padding-right: 20px;
    font-size: 18pt;
}

nav a:hover {
    color: #d76018;
}

#hero nav {
    right: 55px;
}

.logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 50px;
    background: url(/assets/matchmakerssprite.svg);
    background-position: -549px -29px;
}

.hero {
    position: absolute;
    top: 200px;
}

.login, .register {
    position: absolute;
    top: -400px;
    padding: 8px 26px;
    color: #fff;
    background-color: #b5926a;
    border-radius: 4px;
    font-size: 18pt;
}

.login:hover, .register:hover {
    background-color: #885327;
    color: #f9efe3;
}

.login:visited, .register:visited {
    color: #fff;
}

.login-form, #registration {
    display: none;
}

.login-form, .login-label {
    background-color: #37322f;
    color: #fff;

}

#login, #registration {
    margin-top: -1px;
}

.top {
    position: relative;
    right: 20px;
    top: 10px;

}

.top a {
    color: #d76018;
}

#login .close, #registration .close {
    padding: 10px 20px 0 0;
}

.close a {
    color: #fff;
}

.btn-default {
    color: #f9efe3;
    background-color: #b5926a;
    font-size: 21px;
}

.btn-default:hover {
    background-color: #d76018;
    color: #fff;
}

#features {
    padding-top: 1px;
    padding-bottom: 40px;
    background-color: #f9efe3;
    padding-left: 40px;
    float: left;

}

.features {
    font-weight: bold;
    color: #040404;
}

.feature-1, .feature-2, .feature-3 {
    background-image: url("/assets/unify.sprite.home.10.31.14.svg");
    width: 140px;
    height: 140px;
    display: block;
}

.feature-2 {
    background-position: -134px 0;
}

.feature-3 {
    background-position: 0 -134px;
}

#faq {
    background-color: #37322f;
    height: auto;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    float: left;
}

#faq h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

.faqs {
    margin-top: 10px;

}

.faqs p {
    margin: 0;
}

.question {
    color: #fff;
}

.answer {
    color: #d76018;

}

#contactus {
    background-color: #f9efe3;
    height: auto;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    float: left;
}

#contactus h2 {
    text-align: center;
    padding-bottom: 20px;
}

.top {
    position: relative;
    right: 20px;
    top: 10px;

}

.top a {
    color: #d76018;
}

.btn-default {
    color: #f9efe3;
    background-color: #b5926a;
    font-size: 21px;
}

address {
    color: #040404;
}

.close a {
    color: #fff;
}

.btn-default:hover {
    background-color: #d76018;
    color: #fff;
}

.social {
    width: 68px;
    height: 68px;
    background: #d76018;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 20px;
}

.social-googlepl {
    background-color: #37322f;
}

.social-icon {
    position: relative;
    top: 20px;
    left: 10px;
    color: #ffffff;
}

#social-buttons {
    background-color: #f9efe3;
    padding-bottom: 40px;
}

.quicksearch {
    background: #ffffff;
    border: 1px solid gray;
    padding: 5px 10px 33px 25px;
    margin: 0 auto;
}

.btn-search {
    color: #f9efe3;
    background-color: #b5926a;
    font-size: 14px;
}

.quicksearchclient {
    border: 1px solid #111;
    background: transparent;
    width: 200px;
    padding: 5px 35px 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
    margin-bottom: 10px;
    margin-right: 10px;
}

.search-results {
    border: 1px solid #111;
    background: transparent;
    width: 464px;
    padding: 5px 35px 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
    margin-bottom: 10px;
    margin-right: 10px;
}

.quicksearch-box {
    padding-top: 25px;
}

.search-pic-desc {
    font-weight: normal;
    margin: 5px 0 5px 0;
}

.search-img-box {
    background: #ffffff;
    border: 1px gray solid;
}

.search-img {
    padding: 0;
    margin: 0 !important;
    border: none !important;
}

.preferences-box {
    background: #ffffff;
    padding: 5px 6px 5px 15px;
    border: 1px gray solid;
}

.search-add {
    margin: 0px 0 10px;
}

.prefer {
    margin: -5px 0 5px 0;
}

.search-txt {
    width: 200px;
    height: 30px;
    margin-right: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

.key-search-txt {
    width: 150px;
    height: 30px;
    margin-right: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

.results {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

#sidebar {
    overflow: hidden;
    outline: none;
    margin-left: 0px;
    width: 210px;
    height: 100%;
    position: relative;
    background: #37322f;
    color: #ffffff;
    text-align: center;
}

.sidebar-menu {
    background-color: grey !important;
}

.main-results {
    margin-bottom: 20px;
}

.sidebar-menu li {
    list-style: none;
    line-height: 32px;
}

.sidebar-menu a {
    color: #ffffff;
}

.search-txt-side {
    width: 120px;
}

/*--- filters ---*/

.search-filters,  {
    margin-right: 26px;
}

.sidebar,.search-filter-container{
    min-height: 425px;
}
.search-filter-container {
    padding: 10px;
    margin-left: 15px;
    background: #ffffff;
}

.filter {
    border: 3px solid #ccc;
    height: 114px;
    overflow-y: scroll;
    padding: 10px 10px 0 10px;
    border-radius: 8px;
}
.filter .width-100{
    width:100%;
}

.filter label{
    font-weight: normal;
    margin:1px;
    padding:3px;
}
.filter label:nth-child(odd){
    background-color: #eeeeee;
}
.filter label:nth-child(even){
    background-color: #fcf2e7;
}

.filter label:hover{
    background-color: #eeeeff;
}

.sidebar-menu a:active {
    border-radius: 0;
    margin-left: -20px !important;
    text-align: center;
    width: 210px !important;
    background: #ffffff;
    color: #333333 !important;
}

button .btn-search-side {
    padding: 5px !important;
}

/*--- for screen size: 768px; ---*/
@media (max-width: 768px) {

}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}