<div class="user-search-header first">
	<p>Clients</p>
</div>
<div class="user-search-content">
	<p>Recently Activity:</p>
	<div class="user-search-wrapper-descript">
		<div class="row">
			<div class="user-search-img  pull-left col-xs-2 col-sm-2">
				<img src="assets/images/placeholder-small-men.png" alt="user">
			</div>
			<div class="user-search-text col-xs-10 col-sm-10 ">
				<a class="user-search-name">Jenifer Ralston</a>
				<p class="user-search-descript">Recently viewed <a class="darkerColor" href="#">Tom Gomez’s</a> profile.</p>

			</div>
		</div>
		<div class="row">
			<div class="user-search-img  pull-left col-xs-2 col-sm-2">
				<img src="assets/images/placeholder-small-women.png" alt="user">
			</div>
			<div class="user-search-text col-xs-10 col-sm-10 ">
				<a class="user-search-name darkerColor">Jenifer Ralston</a>
				<p class="user-search-descript">Recently viewed <a class="darkerColor" href="#">Tom Gomez’s</a> profile.</p>

			</div>
		</div>
		<div class="row">
			<div class="user-search-img  pull-left col-xs-2 col-sm-2">
				<img src="assets/images/placeholder-small-men.png" alt="user">
			</div>
			<div class="user-search-text col-xs-10 col-sm-10 ">
				<a class="user-search-name">Jenifer Ralston</a>
				<p class="user-search-descript">Recently viewed <a class="darkerColor" href="#">Tom Gomez’s</a> profile.</p>

			</div>
		</div>
		<div class="row">
			<div class="user-search-img  pull-left col-xs-2 col-sm-2">
				<img src="assets/images/placeholder-small-women.png" alt="user">
			</div>
			<div class="user-search-text col-xs-10 col-sm-10 ">
				<p class="user-search-name darkerColor">Jenifer Ralston</p>
				<p class="user-search-descript">Recently viewed <a href="#">Tom Gomez’s</a> profile.</p>

			</div>
		</div>
	</div>
</div>