<p>Client Search:</p>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="user-search-input">
			<select>
			<option value="1">Velasquez, Henry</option>
			<option value="2">Jenifer, Ralston</option>
		</select>
			<span class="user-search-input-btn">
				<button class="btn btn-default submit-button" type="button">Go!</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="user-search-input">
			<input type="text" class="form-control" placeholder="Enter Client Name">
			<span class="user-search-input-btn">
				<button class="btn btn-default submit-button" type="button">Go!</button>
			</span>
		</div>
	</div>
</div>